<%- include('partials/header') %>

    <style>
        .my-container {
            margin-top: 0;
            padding-top: 115px;
        }
    </style>

    <main>
        <div class="jumbotron my-container bg-success">
            <h1 class="display-4">Payment Success!</h1>
            <p class="lead">You successfully added 100 credits to your account.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/home" role="button">Buy Images!</a>
            </p>
            <hr class="my-4">
        </div>
    </main>


    <%- include('partials/footer') %>