<%- include('partials/header') %>

    <style>
        .my-container {
            padding-right: 50px;
            padding-left: 50px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>

    <main>
        <div class="jumbotron my-container bg-success" style="padding-top: 115px;">
            <h1 class="display-4" style="color: #fff;">Payment Success!</h1>
            <p class="lead" style="color: #fff;">You successfully added 100 credits to your account.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/home" role="button">Buy Images!</a>
            </p>
            <hr class="my-4">
        </div>
    </main>


    <%- include('partials/footer') %>