<%- include('partials/header') %>

    <style>
        .my-container {
            margin-top: 0;
            padding-top: 115px;
        }
    </style>

    <main>
        <div class="jumbotron my-container bg-danger">
            <h1 class="display-4">Payment Failure.</h1>
            <p class="lead">There was an issue with your payment. Please try again.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/account" role="button">Add credits</a>
            </p>
            <hr class="my-4">
        </div>
    </main>

    <%- include('partials/footer') %>