@media only screen and (max-width: 991px) {
  .center {
    top: 45%;
  }
}

@media only screen and (max-width: 414px) {
  .center {
    padding-right: 12px;
  }
  .center {
    top: 35%;
    left: 0;
  }
  .align-items-center {
    align-items: flex-start !important;
  }
}
